.landing-div {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.landing-bg-1 {
    background-color: palegreen;
}

.landing-bg-2 {
    background-color: palevioletred;
}

.landing-texts {
    position: absolute;
}